@charset "UTF-8";

@import "base";

body {
  color: #333;
  font: 12px/1.5 "San Francisco", "Helvetica Neue", "Helvetica, Arial", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", "sans-serif";
  a {
    color: #333;
    text-decoration: none;
    &:hover {
      color: #333;
      text-decoration: underline;
    }
  }
}

// Coding...
